<div class="container-fluid bg-light">
    <div class="container bg-light mt-5">
        <div class="row mt-4" style="height: 500px;">
            <div class="col"></div>
            <div class="col-md-6 bg-light shadow-lg body rounded" >
            <form [formGroup]="taskForm">
             <div class="card header mt-3">
                <h4 class="text-white ps-3 pb-2 pt-2 display-5">To-Do List<i class="fa-solid fa-list ms-3 mt-3"></i></h4>
             </div>

             <div class="shadow">
                <div class="input-group p-4">
                    <input type="text" class="form-control" formControlName="addTaskValue" name="task" placeholder="Add new task">
                    <button class="btn btn-outline-success" type="button" [disabled]="!taskForm.valid" (click)="addTask()"><i class="fa-sharp fa-solid fa-plus"></i></button>
                </div>
                <div class="ps-4 pb-2 text-danger" *ngIf="taskvalue && taskvalue.invalid && taskvalue.touched"><strong>Task name is required</strong></div>
             </div>  

             <h4 class="text-info mt-4 ms-3"><strong>Tasks:</strong></h4>
            
             <div style="overflow-y: auto; max-height: 450px;">
                <div class="m-3" *ngFor="let task of taskArray;let i = index">
                    <div class="p-2 shadow border body rounded" [ngClass]="task.isCompleted ? 'check' : ''">
                        <div class="input-group row ps-3">
                            <div class="mt-2 col-md-8 border-0">
                                <span [ngClass]="i % 2 === 0 ? 'red' : 'blue'" [ngStyle]="{'font-weight' : 'bold'}">{{task.task_name | textTransform}}<span class="ms-2"><i class="fa-solid fa-check" style="cursor: pointer;" (click)="completeTask(task,i)"></i></span></span>
                            </div>
                            <button class="btn btn-outline-primary col me-2 body rounded" data-bs-toggle="modal" (click)="openEditTaskModal(task)"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
                            <button class="btn btn-outline-danger col body rounded" (click)="confirmDeleteTask(task,i)"><i class="fa-sharp fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                <div *ngIf="taskArray.length <= 0" class="text-center mt-5">
                    <h6>No tasks to display...</h6>
                </div>
             </div>
            
            </form>    
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
